from numpy import sum
from registration.modules.utils import unique_ids
import registration.modules.dataset

import numpy.random

data = registration.modules.dataset.FromIds(
    ids=constants:ids
)

rand_number = numpy.random.randint(low=0, high=1)

load = utils:load_from_dataset(
    # we want this resource to be callable
    # so it will not be initialized:
    # lazy
    dataset=data
)

ids = unique_ids(dataset=data)

loader = data.load_by_id

aggregated = sum(a=[1 2])
