simple = [i for i in range(10)]
simple_if = [i for i in range(10) if i % 2 == 0 if i % 3 == 0]

lists = [[1], [2], [3]]
nested = [i for l in lists for i in l]
nested_if = [i for l in lists for i in l if i != 2]
nested_if_if = [i for l in lists if len(l) > 0 for i in l if i != 2]

everything = [
    simple, simple_if,
    nested, nested_if, nested_if_if
]

set_comp = {i for i in range(10)}
gen_comp = (i for i in range(10))
dict_comp = {i: i + 1 for i in range(10)}
