import numpy as np

a = [1, 2, 1]

b = lambda x: np.prod([np.sum(a), x])
c = lambda x, y: np.prod([np.sum(y), x])
d = lambda x: lambda y: [x, y]
e = lambda: 8
nested = lambda x: [x, e(), b(e())]

test = nested(1)

vararg = lambda x, *y: y
only_vararg = lambda *x: x
with_default = lambda x=1, y=2: (x, y)
keyword = lambda *x, y: (x, y)
