literals = [
    # name constant
    True, False, None, ...,
    # numeric
    1, 2, 3, .4, 5j, .55e-2, 0x101, 0b101,
    # strings and bytes
    'abc', r'def', b'ghi', u'jkl', rb'mno',
    f'string interpolation: {divmod(16, 5)}', f'a: {1 + 2} b: {3 + 4}',
    # containers
    [], [1, 2, 1],
    (), (1, 2, 1), (1,),
    {1, 2, 1},
    {}, {1: 2, 3: 4, '5': 6}
]
