from helpers import Slicer

slices = Slicer()[::, ::2, :10:, :10:2, 5::, 5::2, 5:10:, 5:10:2, ...]

correct_slices = (
    slice(None, None, None),
    slice(None, None, 2),
    slice(None, 10, None),
    slice(None, 10, 2),
    slice(5, None, None),
    slice(5, None, 2),
    slice(5, 10, None),
    slice(5, 10, 2),
    Ellipsis,
)
