import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6]])
std = data.std(
    # partial
    1
)
mean = data.mean(axis=1)
random = np.random.rand(1, *[1, 2], 2)
mean2 = np.mean(data, axis=1)

random_coma = np.random.rand(1, *[1, 2], 2, )
mean2_coma = np.mean(data, axis=1, )
part = data[1, 2]
another_part = data[0]

kwargs = {'x': 1, 'y': 2}
func = lambda x, y: (x, y)
value = func(**kwargs)
