from a import some_other_name

one = "some value, that will be overwritten"

two = 1

three = [1, 2, 3]

four = {'a': 1, 'b': 2, 'c': three, 4: 'any type of key'}

five = (1, 2, 3)

six = (1,)

set_one = {1, 2, 1}

starred_array = [*three, 4, *[5, 6]]

starred_tuple = (*three, 4, *[5, 6])

starred_set = {*three, 1, 2, *three}

link = one


def func(x, y, z):
    length = x ** 2 + y ** 2 + z ** 2
    return [x / length, y / length, z / length]


deeper = "i'm tired of inventing new resource names"

just_another_resource = None
