from expressions.types import *
from .expr import *
from .folder.target import *

call_one = callable(1, 2, 3, 'asdfsdaf')
call_two = callable(
    1, 2
)
call_three = callable(
    1, 2, 3, a=4, multiline='''
    text
    '''
)
call_four = callable()
call_five = callable(
    1, 2, 3, a=4, multiline='''
    text
    '''
)
