from numpy import sum
from registration.modules.utils import unique_ids

data = dataset:from_ids
    ids = constants:ids

load = utils:load_from_dataset
    # we want this resource to be callable
    # so it will not be initialized
    # lazy
    dataset = data

ids = unique_ids(dataset = data)

loader = data.load_by_id

aggregated = sum(a = [1 2])